extends layout

block content
  <html>
    <h1>Recipe Saver</h1>
    <div class="flex-container">
      <form action="#">
        <label>Recipe:</label><br>
        <input type="text" id="recipename"><br>
      </form>
    </div>
    <div class="flex-container2">
      <div class="button-container">
        <button id="submit">Submit Recipe</button>
      </div>
      <div class="button-container">
        <button id="delete">Delete Recipe</button>
      </div>
      <div class="button-container">
        <button id="view">View Recipes</button>
      </div>
    </div>
    <div id="flex-container3"></div>
  </html>